@import helper._
@(vv:model.ViewValueTodoEdit)(implicit requestHeader: RequestHeader, messagesPrivider: MessagesProvider)
@common.default(vv){
  <div class="card">
    <div class="card-header d-flex">
      <div class="flex-grow-1">Todo編集</div>
    </div>
    @form(action = controllers.routes.TodoController.page_update_submit(vv.data.id.getOrElse(0))){
      @CSRF.formField
      <div class="card-body">
        <div class="mb-3">
          @inputText(vv.form("title"), 'class -> "form-control", 'placeholder -> "何かタイトル")
        </div>
        <div class="mb-3">
          @textarea(vv.form("body"), 'class -> "form-control",'rows -> "5", 'placeholder -> "何かタイトル")
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">更新</button>
      </div>
    }
  </div>
}