@(vv: model.ViewValueTodoList)
@common.default(vv){
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header d-flex">
          <div class="flex-grow-1">Todo一覧</div>
          <div class="bd-highlight"><button id="openAddTodoDialog" class="btn btn-primary">Todo追加</button></div>
        </div>
        <div class="list-group">
          @for(v <- vv.data){
            <a href="@controllers.routes.TodoController.page_show(v.id.getOrElse(0))" class="list-group-item list-group-item-action" aria-current="true">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@v.title</h5>
                <small>@v.updatedAt</small>
              </div>
              <p class="mb-1">@v.body</p>
            </a>
          }
        </div>
      </div>
    </div>
  </div>
}